@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  background-image: url(/images/lines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rem;
}

button, a { 
  cursor: none;
}
