@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  outline : 1px solid red
} */

.svg {
  background-image: url(/images/lines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rem;
}

/* .svg1 {
  background-image: url(https://assets-global.website-files.com/62bac7754ea6d7967db80305/65d7136bcc62aaa8fd3cdb87_rules-pattern.svg);
  background-repeat: no-repeat;
  background-position: 140% 0%;
  background-size: 55%;
} */

button, a { 
  cursor: none;
}

@layer components {
  .list {
    @apply before:absolute z-[1] before:w-[17px] before:h-[10px] before:bg-white before:rounded-[100%] ml-8 before:top-[7px] before:-left-[27px] relative
  }
  .text {
    @apply text-lg tracking-widest font-light
  }
  .diamond {
    @apply border-b-2 border-b-[#504E49] py-12 font-light text-white px-2 border-dotted before:absolute before:w-5 before:h-5 before:bg-yellow-500 before:-bottom-[9.5px] before:left-0 relative before:rotate-[50deg] before:skew-x-12 space-y-3 tracking-wider
  }
  .input {
    @apply flex-1 bg-[#1A1919] py-4 rounded-3xl focus:outline-none px-5  placeholder:font-light transition-all duration-200 outline-none border-none focus:border-none focus:ring-0 focus:rounded-b-none placeholder:text-[#9A998C]
  }
}
